package views

import "homework-fiber/views/layout"
import "homework-fiber/views/wigets"

templ Register(){
    @layout.Layout(layout.LayoutProps{
		Title:           "Найди работу своей мечты",
		MetaDescription: "Сайт по поиску работы",
	}){
        <main>
            @layout.Header()
            @wigets.RegistrationForm()
        </main>
    }
}

