package layout

templ Header() {
	@headerStyle()
	<div class="header">
		@Menu()
		{ children... }
	</div>
}

templ headerStyle() {
	<style>
	.header {
		align-items: center;
		background-color: #222222;
		display: flex;
		flex-direction: column;
		justify-content: space-between;


	}
    </style>
}
